.jumbotron{
	background: #4267b2;
	text-align: center;
	color: white;
	font-size: 1000px;
	margin-bottom: 0;
	text-transform: uppercase;
	 padding-top: 1rem;
    padding-bottom: 0.5rem;
}
body{
	background:#232323;
	margin: 0;
	font-family: "Montserrat","Avenir"; 
}

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 25%;
	transition: background 0.8s; 
	-webkit-transition:background 0.8s;
	-moz-transition:background 0.8s;
}

#main{
	margin: 0 auto;
	max-width: 700px;
}
#message{
	display: inline-block;
	width: 20%;
	font-weight: 1000;
}

#stripe{
	background: #bccecd;
	height: 30px;
	text-align: center;
	color: black;
}
.selected{
	background: #4267b2;
	color: white;
}
button{
	border:none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: #4267b2;
	letter-spacing: 0.5px;
	font-size: inherit;
	transition: all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	outline: none;
}
button:hover{
	color:white;
	background: #4267b2;
}
h1{
	font-size: 5rem;
}
.lead{
	font-size: 3.5rem;
	font-weight: 150;
}
media (min-width: 576px)
.jumbotron {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}